@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Merriweather+Sans:wght@400;700;800&display=swap');

:root {
    --font-size: 20px;
    --color: rgb(178, 214, 210);
    --gutter: calc(var(--font-size)*1.618);
}

.header-container { 
    display: flex; 
    justify-content: space-between;
    padding: 0;

} 
   
.header-item { 
    margin: 0;
} 
  
body {
    background-color: rgb(23, 23, 23);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: var(--font-size);
    padding-top: 20px;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    color: var(--color);
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
}

li {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: calc(var(--font-size)*3);
    margin-left: 28rem;
}

li:hover {
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
}

.number {
    font-family: 'Bodoni Moda', serif;
    font-size: 18px;
}

h1 {
    font-size: var(--font-size);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}


/* 
mint color
rgb(178, 214, 210)
red color 
rgb(171, 18, 18)
*/


h1:nth-child(2) {
    text-align: right;
}

h2 {
    font-size: calc(var(--font-size)*4);
    font-family: 'Bodoni Moda', serif;
    text-transform: uppercase;
    margin-top: 1rem;
}

hr {
    height:1px;
    width: 100%;
    background-color:var(--color);
}

footer {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    align-items: center;
}




@media (max-width: 480px) {
    :root {
        --font-size: 16px;
    }

    body {
        font-size: var(--font-size);
    }

    h1 {
        font-size: 12px;
    }

    h2 {
        font-size: 40px;
        margin-top: 4rem;
        margin-bottom:1rem;
    }

    li {
        font-size: calc(var(--font-size)*2);
        margin-left: 0rem;
    }           
}

@media (min-width: 480px) and (max-width: 1024px) {
    :root {
        --font-size: 20px;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: calc(var(--font-size)*3);
        margin-top: 4rem;
        margin-bottom:1rem;
    }

    li {
        font-size: calc(var(--font-size)*2.5);
        margin-left: 0rem;
    }   

}